# Important  Data structures in python
1. Lists
2. Tupples
3. Sets
4. Dictinaries
5. Strings

# lists
collection of elements of same  data type or different data types
list can mutable and can corrected once crated
list has many operations

# syntax
list_name=[type1, type2 ,type3]
list_name=[element1, lement2, ;element3]

In [1]:
numbers=[10,20,30,40,60,50,90,200,900,45,75,76]
numbers

[10, 20, 30, 40, 60, 50, 90, 200, 900, 45, 75, 76]

In [2]:
#Append
# using we can add elements to the list
numbers.append(63)
numbers

[10, 20, 30, 40, 60, 50, 90, 200, 900, 45, 75, 76, 63]

In [5]:
#Extend
# by using this function we can add elemnt to the list
numbers.extend([1000])
numbers

[10, 20, 30, 40, 60, 50, 90, 200, 900, 45, 75, 76, 63, 1000]

In [7]:
#insert
# with this function we can add element specified index
numbers.insert(4, 2000)
numbers

[10, 20, 30, 40, 2000, 60, 50, 90, 200, 900, 45, 75, 76, 63, 1000]

In [8]:
#count
# this function returns the index of the numbers
numbers.count(2000)

1

In [10]:
#copy 
#creates the duplicate list
a=numbers.copy()
a

[10, 20, 30, 40, 2000, 60, 50, 90, 200, 900, 45, 75, 76, 63, 1000]

In [12]:
#clear
# this function clears the list
numbers.clear()
numbers

[]

In [14]:
#index
#this function returns the poistion or let us say index of the list
a.index(90)

7

In [24]:
#pop
# it just remove the specified index of the element
a.pop(7)
a

[10, 20, 30, 40, 2000, 60, 50, 900, 45, 75, 76, 1000]

In [26]:
a.pop(8)
a

[10, 20, 30, 40, 2000, 60, 50, 45, 76, 1000]

In [28]:
#reverse
# this function reverse the list
l=[10,20,30,50,2]
l

[10, 20, 30, 50, 2]

In [31]:
l.reverse()
l

[2, 50, 30, 20, 10]

In [36]:
#sort
# this functions sortes the numbers in the list
l.sort()
l

[2, 10, 20, 30, 50]

In [38]:
#slice
q=a[0:3]
q

[10, 20, 30]

In [42]:
u=a[2:4]
u

[30, 40]

In [44]:
p=a[0:]
p

[10, 20, 30, 40, 2000, 60, 50, 45, 76, 1000]

In [46]:
r=a[:10]
r

[10, 20, 30, 40, 2000, 60, 50, 45, 76, 1000]

In [48]:
o=a[:5]
o

[10, 20, 30, 40, 2000]

In [49]:
# list with strings
list_fruits=[ 'apple', 'carrot', 'banana']
list_fruits

['apple', 'carrot', 'banana']

In [51]:
# list with different data types
list_mix=[' gulb jamun', 'rasagulla', 25, 100, 2.5]
list_mix

[' gulb jamun', 'rasagulla', 25, 100, 2.5]