# Tuples 

tuple is the one of the important in built data structure in python

A tuple is a collection of objects which ordered and immutable. 

Tuples are sequences, just like lists. The differences between

tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses,

whereas lists use square brackets.

# Tuples are used for grouping data

Creating a tuple is as simple as putting different comma-separated values. 

Optionally you can put these comma-separated values between parentheses also.

# Syntax
we represent them by writing the elements inside the parenthesis separated by commas.

tuple_name= ( elment _value1, elemnet_value2, elemeent_3....)

# Tuple Functions 

:len(), max(), min(), tuple(), index(), count(), sum(), sorted()

In [1]:
tuple_1= ('banana', 'elephant', 25, 30.5)

tuple_1

('banana', 'elephant', 25, 30.5)

In [2]:
tuple_fruits= ('orange', 'lemon', 'guva', 'pineapple', 'apple')

tuple_fruits

('orange', 'lemon', 'guva', 'pineapple', 'apple')

The tuple() Function

We can use the tuple() constructor or function to create a tuple. It basically performs two functions as follows:

Creating an empty tuple if we give no arguments.

Creating a tuple with elements if we pass the arguments.

In [4]:
#creating a list with numbers

tup_numbers= (10, 20, 30, 5, 2, 30,7, 1, 100, 150,50,75, 10, 25, 30)

tup_numbers

(10, 20, 30, 5, 2, 30, 7, 1, 100, 150, 50, 75, 10, 25, 30)

In [5]:
# len

#this function return the the elements in the tuple

len(tup_numbers)

15

In [6]:
#count

# this function counts the specific element in the list

tup_numbers.count(30)

3

In [7]:
#max

# this function returns the biggest number in the list

max(tup_numbers)

150

In [8]:
#min

# this function returns the small number in the tuple

min(tup_numbers)

1

In [9]:
#slicing the tuple

# by using the index of the tuple we can slice the tuple

print(tup_numbers[1:4])

print(tup_numbers[4:8])

(20, 30, 5)
(2, 30, 7, 1)

In [10]:
#index

# this function returns the index poistion of the specific element in the tuple

print(tup_numbers.index(100))

8

In [11]:
#sum 

# this function returns the sum of the elements in the tuple

sum(tup_numbers)

545

In [12]:
#Sorted

#this function  returns elements in ascending order

sorted(tup_numbers)

[1, 2, 5, 7, 10, 10, 20, 25, 30, 30, 30, 50, 75, 100, 150]

# Sets

In Python, a Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements.

The order of elements in a set is undefined though it may consist of various elements. The major advantage of using a set,

as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [ ]:
Syntax
set_name= { element1, element2, element3....}

In [13]:
set_num= { 2, 3,58, 25,15, 4, 4, 2, 10, 20, 50, 65, 50}
set_num

{2, 3, 4, 10, 15, 20, 25, 50, 58, 65}

In [14]:

#add
# this function adds the element to the set
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'apple', 'orange', 'cherry', 'banana'}

In [15]:
#Union 

# comines the both the sets

# syntax: 

z = set_num.union(fruits)

print(z)

{65, 2, 3, 4, 'apple', 10, 'cherry', 15, 50, 20, 'orange', 25, 58, 'banana'}

In [16]:

# remove 

# this function removes the specific element in the list

# Syntax

# set.remove(item)

fruit = {"apple", "banana", "cherry", "orange", "guva"}

fruit.remove("guva")

print(fruits)

{'apple', 'orange', 'cherry', 'banana'}

In [17]:
#copy

# creating duplicate set

# syntax : new_set= set.copy()

fruits_2 = fruits.copy()

print(fruits_2)

{'apple', 'orange', 'cherry', 'banana'}

In [18]:

#pop
# this function removes one element in the set

#Syntax

#set.pop()

fruits = {"apple", "banana", "cherry", "guva"}

fruits.pop()

print(fruits)

{'guva', 'cherry', 'banana'}